@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
    margin: 0px;
    padding-bottom: 50px;
}

.hero{
    width: auto;
    height: 760px;
    background-image: url("Resources/Mask\ group.svg");
}

.navbg{
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(5px);
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 64px;
    padding: 6px;
    align-items: center;
}

.leftnav{
    display: flex;
    gap: 16px;
}

.leftnav p{
    color: #014B40;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}

.navicons{
    display: flex;
    gap: 16px;
}

.herodiv{
    display: flex;
    justify-content: end;
    margin-right: 116px;
}

.herocontent{
    margin-top: 24px;
}

.herotxt p{
    color: #FFF;
    font-family: Open Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 133.333% */
    width: 500px;
}

.proddrop{
    cursor: pointer;
    display: flex;
    gap: 6px;
}

.herosubtxt p{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: 0.3px;
    width: 500px;
}

.btn button{
    cursor: pointer;
    border-radius: 10px;
    border: 0px;
    background: #014B40;
    width: 156px;
    height: 59px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}

.cta{
    display: flex;
    gap: 24px;
}

.explore{
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;
}

.txt p{
    color: #EFF7F5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}

.heading p{
    color: #014B40;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.view p{
    color: #014B40;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.featured{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 64px 116px;
}

.cards{
    display: flex;
    margin: 0px 116px;
    justify-content: space-between;
}

.card1 img{
    width: 386px;
    height: 360px;
    border-radius: 20px;
    flex-shrink: 0;
}

.card2 img{
    width: 386px;
    height: 360px;
    border-radius: 20px;
    flex-shrink: 0;
}

.card3 img{
    width: 386px;
    height: 360px;
    border-radius: 20px;
    flex-shrink: 0;
}

.card1:hover .description{
    display: flex;
}

.card2:hover .description{
    display: flex;
}

.card3:hover .description{
    display: flex;
}

.description{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: -120px;
    height: 116px;
    padding: 0px 24px;
    border-radius: 0px 0px 20px 20px;
    background: rgba(1, 75, 64, 0.20);
    backdrop-filter: blur(5px);
}

.description button{
    width: 79px;
    height: 35px;
    flex-shrink: 0;
    border: 1px solid white;
    color: #FFF;
    border-radius: 6px;
    background-color: initial;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description p{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-top: 48px;
}

.description h6{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-top: 0px !important;
}